body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:769px;
}
#u29622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:769px;
}
#u29622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1344px;
  word-wrap:break-word;
}
#u29623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29623 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:184px;
  width:256px;
  height:150px;
}
#u29623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29624 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:184px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29624_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29624_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29625 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:184px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29625_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29625_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29626 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:184px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29626_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29626_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29627 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:214px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29627_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29627_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29628 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:214px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29628_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29628_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29629 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:214px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29629_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29629_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29630 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:244px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29630_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29630_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29631 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:244px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29631_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29631_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29632 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:244px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29632_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29632_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29633 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:274px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29633_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29633_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29634 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:274px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29634_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29634_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29635 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:274px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29635_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29635_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29636 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:304px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29636_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29636_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29637 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:304px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29637_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29637_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29638 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:304px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29638_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29638_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29639 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:364px;
  width:256px;
  height:116px;
}
#u29639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29640 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:364px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29640_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29640_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29641 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:364px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29641_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29641_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29642 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:364px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29642_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29642_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29643 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:394px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29643_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29643_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29644 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:394px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29644_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29644_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29645 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:394px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29645_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29645_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29646 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:424px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29646_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29646_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29647 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:424px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29647_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29647_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29648 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:424px;
  width:65px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u29648_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u29648_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u29649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u29649 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:155px;
  width:16px;
  height:16px;
}
#u29649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u29650 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:155px;
  width:16px;
  height:16px;
}
#u29650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u29651 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:338px;
  width:16px;
  height:16px;
}
#u29651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u29652 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:338px;
  width:16px;
  height:16px;
}
#u29652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29653 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:63px;
  width:85px;
  height:20px;
}
#u29653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u29654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29654 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:523px;
  width:65px;
  height:20px;
}
#u29654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29655 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:523px;
  width:65px;
  height:20px;
}
#u29655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29656 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:66px;
  width:139px;
  height:17px;
  font-size:12px;
}
#u29656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u29657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29657 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:523px;
  width:335px;
  height:221px;
}
#u29657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:198px;
}
#u29658 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:531px;
  width:357px;
  height:198px;
}
#u29658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29659 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:657px;
  width:33px;
  height:26px;
  font-size:12px;
}
#u29659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
